{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Log In</h1>
        <hr class="my-2">
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <p class="lead">
                <input type="submit" class="btn btn-primary btn-lg" value="Log In">
            </p>
            <p><a href={% url 'accounts:password_reset'%}>Forgot Password?</a></p>
        </form>                
    </div>
</div>

{% endblock content %}


