{% extends 'base.html' %}
{% block  content %}

    <div class="container-fluid">
        <div class="p-5 bg-light">
            <div class="container">
                <h1 class="display-3">Welcome</h1>
                <p class="lead">Coming soon!!!</p>
                <hr class="my-2">
                <p>More info</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Site in Development</a>
                </p>
            </div>
        </div>
    </div>

{% endblock  %}